

*{
    border: 0px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; 
    font-family: "Poppins", sans-serif; 
    
}

body{
    background-color: white;
    
    
}

/*ESTILIZAÇÃO BANNER TOPO*/

.banner-topo, .banner-meio, img{
    max-width: 100%;
    transition: 1s;
}

.banner-topo img:hover{
    width: 102%;
}

/*ESTILIZAÇÃO NAVBAR*/

nav{
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    

}

.nav-itens{
    display: flex;
    justify-content: space-around;
    
}

nav{
    background-color: #6e1e62;
    width: 100%;
    display: flex;
    align-items: center;
    
}

.logo img{
    width: 200px;
    padding: 3px;
}

.links ul li{
    list-style: none;
    margin-left: 25px;
}

.nav-itens a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    transition: 0.3s;
    padding: 5px 5px;
    
}

a:hover{
    
    font-size: 15px;
    

}

.pesquisar button{
    padding: 9px 19px ;
    border-radius: 25px;
    background-color: #eb9605;
    color: #6e1e62;
    font-weight: 700;
    font-size: 15px;
    transition: 0.5s;
}

.pesquisar i {
    font-size: 15px;
}

.pesquisar button:hover{
    background-color: #00b309;
    cursor:pointer;
    font-size: 14px;
    
}

.pesquisar a{
    text-decoration: none;
    
}





/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>QUEM SOMOS?*/

.container{
    
    margin:0 auto;
    display: flex;
    justify-content:center;
  
}

.circulo{
    width: 400px;
    height:400px;
    background-color: #eb9605;
    border-radius: 1000px;
}

.funxdoimg{
    width: 400px;
    height:400px;
    background-color: #6e1e62;
    border-radius: 1000px;
}
.sobre{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 50px;
    padding-top: 100px;
    flex-wrap: wrap;
    
    
}

.texto{
    width: 500px;
    margin-bottom: 10px;
}

.imagem-sobre img{
    width: 520px;
   
   
}

.texto h2{
    font-size: 18px;
    color: #eb9605;
}

.texto span{
    font-weight: bold;
}

.texto p{
    font-size: 16px;
    padding-top: 12px;
}

.texto button{
    padding: 5px 15px;
    background-color: #6e1e62;
    color: #eb9605;
    border-radius: 35px;
    font-size: 19px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
    
    
}

.texto button:hover{
    background-color: #eb9605;
    color: #6e1e62;
    font-size: 18px;

}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>IMAGEM DIVISÃO MEIO*/

.banner-meio{
    margin:-8px;
    width:100%;
}

.banner-meio img{
    height: 100%;
    width: 100%;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>CARDS*/

.card-grupo{
    display: flex;
    gap: 18px;
    justify-content: center;
    flex-wrap: wrap;
    background-color:#6e1e62
}


.card {
    width: 350px;
    height: 450px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    background-color:#eb9605;
    transition: 0.5s;
    
}

.card:hover{
    padding: 1px;

    
}

.btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #6e1e62;
    color: #fff;
    border: none;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.card img {
    width: 100%;
    height:16rem;
    
}

.card h2 {
    margin: 20px 0 10px;
    padding: 0 20px;
    font-size: 20px;
    color: #333;
}

.card p {
    margin: 0 0 20px;
    padding: 0 20px;
    font-size: 16px;
    color: #666;
}

.btn a{
    text-decoration: none;
    color: white;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>RODAPÉ*/
.redes-sociais button{
    background-color:#6e1e62;
    color: white;
    width: 50px;
    height: 40px;
    padding: 6px 10px;
    border-radius: 500px;
    margin-right: 5px;
    font-size: 19px;
    cursor: pointer;
    transition: 0.5s;
}

.redes-sociais button:hover{
    background-color:#eb9605;
    color: white;
}

.redes-endereco{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap:15px
}

.contatos, .logo {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.contatos a{
    text-decoration: none;
    color: #6e1e62;
    font-weight: 500;
    transition: 0.5s;
}

.contatos a:hover{
    color:#eb9605;
    
}

.endereco a{
    text-decoration: none;
    color:#eb9605;
    font-weight: 500;

}

.endereco a:hover{
    color:#6e1e62
}

.container-rodape{
    padding-top: 5px;
}




/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>RESPONSIVIDADE*/

@media screen and (max-width: 800px) {
    .sobre{
        padding: 18px;}

    .texto button{
        font-size: 12px; }

    .imagem-sobre img{
        width: 350px;
    }

}

@media screen and (max-width: 600px) {

.pesquisar span{
    display:none;
}

.pesquisar{
    margin-right: 25px;
}

nav{
    display: flex;
    justify-content: space-around;
}

.nav-itens{
    display: flex;
    justify-content: left;
    
}

.nav-itens a{
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    color: white;
    transition: 0.5s;
    padding: 5px 5px;
}

a:hover{
    color: #eb9605;
    font-size: 15px;
}

.texto button{
    font-size: 18px;
    width: 100%;
}

.endereco a {
    font-size: 12px;
}

.contatos a{
    font-size: 13px;
}

.logo img{
    width: 10rem;
}





}